@import 'tailwindcss';

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-display: swap;
  src: url('@/assets/fonts/rubik/Rubik-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-display: swap;
  src: url('@/assets/fonts/rubik/Rubik-Italic-VariableFont_wght.ttf') format('truetype');
}

@theme {
  --font-sans: 'Rubik', sans-serif;
  --default-font-family: var(--font-sans);

  --color-primary: #27ae60;

  --color-primary-50: #f2faf6;
  --color-primary-100: #e6f5ed;
  --color-primary-200: #c0e6d1;
  --color-primary-300: #9ad7b5;
  --color-primary-400: #5fc18e;
  --color-primary-500: #27ae60;
  --color-primary-600: #209150;
  --color-primary-700: #1a7440;
  --color-primary-800: #135330;
  --color-primary-900: #0e3f24;
  --color-primary-950: #092a18;

  --default-transition-duration: 300ms;

  --animate-shake: shake 300ms ease-in-out;

  @keyframes shake {
    0%,
    100% {
      transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translateX(-5px);
    }
    20%,
    40%,
    60%,
    80% {
      transform: translateX(5px);
    }
  }
}

@layer base {
  input:not([type='checkbox']) {
    @apply ring ring-neutral-200 rounded-sm py-3 px-4 my-2 placeholder:text-neutral-300;
  }

  input[type='checkbox'] {
    @apply w-4 h-4;
  }

  hr {
    @apply border-neutral-200;
  }
}

@layer components {
  .action {
    @apply px-8 py-4 font-semibold rounded-sm cursor-pointer transition-all;
  }

  .action:disabled {
    @apply opacity-50 cursor-not-allowed;
  }

  .container {
    @apply bg-white rounded-sm ring-1 ring-neutral-100;
  }
}
